<head th:fragment="commonHead">
    <!--      need for sec-->
    <title>Fitness web trainer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--        <link rel="stylesheet" href="../styles/style.css" type="text/css">-->

    <style>
        body {
            background-image: url("https://images2.alphacoders.com/608/thumb-1920-608038.jpg");
            background-attachment: fixed;
            /*background-color: #55595c;*/
        }

        p {
            color: #d6d6d6;
        }
    </style>

</head>