<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="common/commonHead::commonHead"></head>
<body>
<header th:insert="parts/header::header"></header>
<p>Muscle Groups</p>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="card mb-4 shadow-sm">
                <!--//TODO add image-->
                <div class="card">
                    <img th:src="@{../images/muscles/back/backPreview.jpg}" class="card-img-top"
                         alt="All"
                         align="center" style="background: #55595c" height="225">
                    <div class="card-body" style="background: #C0C0C0">
                        <p class="card-text text-dark">All</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <form action="/muscles">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--        //-->
        <div th:each="el :${muscleGroups}" class="col-lg-4 col-md-12">
            <div class="card mb-4 shadow-sm">
                <div class="card">
                    <img th:src="${'/img/'+el.getImage()}" class="card-img-top"
                         th:alt="${el.getName()}"
                         align="center" style="background: #55595c" height="225">
                    <div class="card-body" style="background: #C0C0C0">
                        <div class="row mb-2 ">
                            <form class="col" th:action="'/muscleGroups/'+${el.getId()}" th:method="PATCH">
                                <div class="input-group">
                                    <input type="text" id="changeName" name="name" class="form-control" th:value="${el.getName()}" readonly>
                                    <button type="button" onclick="changeReadOnly()" id="editButton" sec:authorize="hasAuthority('ADMIN')" class="input-group-text">✎</button>
                                    <button type="submit" id="updateNameButton" sec:authorize="hasAuthority('ADMIN')" class="input-group-text" hidden>✓</button>
                                </div>
                            </form>
                        </div>

                        <div class="btn-group ">
                            <form th:action="'/muscleGroups/'+${el.getId()}">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Show muscles
                                    <span class="badge badge-pill badge-secondary " th:text="${el.getMuscleSet().size()}"></span>
                                </button>
                            </form>
                            <!--                                //TODO add endpoint "'/exercises/muscleGroup/'+${el.getId()}"-->
                            <form th:action="'/exercises/muscleGroup/'+${el.getId()}" method="get">
                                <button class="btn btn-sm btn-outline-secondary">Show exercises
                                    <span class="badge badge-pill badge-secondary" th:text="${el.getMuscleSet().size()}"></span><!--//TODO change to exercises set-->
                                </button>
                            </form>
                            <form th:method="DELETE" th:action="'/muscleGroups/'+${el.getId()}+'/delete'" sec:authorize="hasAuthority('ADMIN')">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>


<!--//add muscle group-->
<div class="container mt-5 mb-5 border border-secondary rounded bg-dark text-white" sec:authorize="hasAuthority('ADMIN')">
    <h5>Добавить группу мышц</h5>
    <form method="post" action="/muscleGroups/add" enctype="multipart/form-data">

        <div style="display:inline-block">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Название группы мышц</span>
                </div>
                <input type="text" name="muscleGroup" class="form-control"
                       aria-describedby="basic-addon3" placeholder="..." required>


            </div>
            <div class="input-group mb-2 ">
                <!--                <button class="input-group-text" id="basic-addon33">Browse image</button>-->
                <!--                <img src="ehttps://cdn.britannica.com/s:800x450,c:crop/79/143179-138-80596415/muscles-bones-tendons.jpg" class="img-fluid" alt="Add image">-->
                <input type="file" name="file" class="input-group-text" id="file">
            </div>

            <button type="submit" class="btn btn-secondary mb-1">Add muscle group</button>
        </div>
    </form>
</div>


<script>
    function changeReadOnly() {
        document.getElementById("changeName").readOnly = !document.getElementById("changeName").readOnly;
        document.getElementById("editButton").hidden = true;
        document.getElementById("updateNameButton").hidden = false;
    }
</script>

<footer th:insert="parts/footer::footer"></footer>
</body>
</html>