<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="common/commonHead::commonHead"></head>
<body>
<header th:insert="parts/header::header"></header>
<p>Users</p>

<div class="container-lg">
    <div class="row">
        <div th:each="user :${users}" class="col-lg-4 col-md-12">

            <div class="col mb-5 mt-5">
                <div class="card" style="background-color: #C0C0C0">
                    <!--                    <img src="https://images.wallpaperscraft.ru/image/ganteli_sportzal_ves_diski_118338_1920x1080.jpg" alt="Cover" class="card-img-top">-->
                    <div class="card-body text-center">
                        <img th:if="${user.getImage()==null || user.getImage().isEmpty()}" th:src="@{'/img/'+'default_avatar.png'}" style="width:200px;margin-top:-65px"
                             class="img-fluid img-thumbnail rounded-circle border-0 mb-3"
                             th:alt="${user.getUsername()}"
                             height="225">
                        <img th:unless="${user.getImage()==null || user.getImage().isEmpty()}" th:src="${'/img/'+user.getImage()}" style="width:200px;margin-top:-65px"
                             class="img-fluid img-thumbnail rounded-circle border-0 mb-3"
                             th:alt="${user.getUsername()}"
                             height="225">


                        <h5 class="card-title" th:text="${user.getFirstName()+' '+user.getLastName()}"></h5>
                        <p class="text-secondary mb-1" th:text="${user.getUsername()}"></p>
                        <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                        <h6 class="text-muted font-size-sm">LEVEL: ________</h6>
                    </div>
                    <div class="card-footer">


                        <div class="btn-group d-flex justify-content-between align-items-center">
                            <form th:action="'/users/'+${user.getUsername()}">
                                <button type="submit" class="btn btn-outline-success mt-2">View</button>
                            </form>
                            <form th:action="'/users/'+${user.getUsername()}">
                                <button type="button" class="btn btn-outline-primary mt-2">[View]</button>
                            </form>
                            <form th:action="'/users/'+${user.getUsername()}">
                                <button type="button" class="btn btn-outline-danger mt-2">[View]</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:insert="parts/footer::footer"></footer>
</body>
</html>