<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/commonHead::commonHead"></head>
<body>
<header th:insert="parts/header::header"></header>
<p>ADD Exercise</p>

<!--//add exercise-->
<!--//TODO make it work BE-->
<div class="container mt-5 mb-5 border border-secondary rounded bg-dark text-white" align="center" sec:authorize="hasAuthority('ADMIN')">
    <h5 align="center" class="alert mt-2 mb-2">Добавить упражнение</h5>
    <form method="post" action="/exercises/add/attributes">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


        <div style="display:inline-block">
            <label for="exerciseTitle" class="input-group-text mb-1">Название упражнения
                <input type="text" id="exerciseTitle" name="exerciseTitle" class="form-control ml-2 mr-2"
                       aria-describedby="basic-addon3" placeholder="..." required>
            </label>

            <label for="primaryMuscleGroup" class="input-group-text mb-1">Группы главных рабочие мышцы
                <select class="form-control selectpicker ml-2 mr-2" name="primaryMuscleGroup" id="primaryMuscleGroup" required multiple data-live-search="true">
                    <option disabled>Choose primary muscle groups</option><!--//Empty choise-->
                    <option th:each="muscleGroup : ${allMuscleGroups}"
                            th:value="${muscleGroup.getId()}" th:text="${muscleGroup.getName()}">
                    </option>
                </select>
            </label>
            <label for="secondaryMuscleGroup" class="input-group-text mb-1">Группы второстипенных рабочих мышцы
                <select class="form-control ml-2 mr-2 selectpicker" name="secondaryMuscleGroup" id="secondaryMuscleGroup" multiple data-live-search="true">
                    <option disabled>Choose secondary muscle groups</option><!--//Empty choise-->
                    <option th:each="muscleGroup : ${allMuscleGroups}"
                            th:value="${muscleGroup.getId()}" th:text="${muscleGroup.getName()}">
                    </option>
                </select>
            </label>
            <label for="equipment" class="input-group-text mb-1">Необходимая экипировка
                <select class="form-control selectpicker ml-2 mr-2" id="equipment" name="equipment" required>
                    <option disabled>Choose equipment</option><!--//Empty choise-->
                    <option th:each="equip : ${allEquipment}"
                            th:value="${equip}" th:text="${equip.getWord()}">
                    </option>
                </select>
            </label>

            <button type="submit" class="btn btn-success mb-2 mt-2">Next -></button>
        </div>
    </form>
</div>


<footer th:insert="parts/footer::footer"></footer>
</body>
</html>