<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="common/commonHead::commonHead"></head>
<body>
<header th:insert="parts/header::header"></header>
<p>Exercises</p>
<!--<div th:if="${sortCriteria_ExerciseMap.keySet().size()==1}">-->
<!--    <a class="btn btn-secondary" href="/exercises">All</a>-->
<!--    <a class="btn btn-secondary" href="/exercises/byMuscleGroups">Sort by MuscleGroup</a>-->
<!--    <a class="btn btn-secondary" href="/exercises/byEquipmentNeed">Sort by Equipment</a>-->
<!--</div>-->

<!--<form class="form-inline my-2 my-lg-0">-->
<!--    <input class="form-control mr-sm-2" type="search" placeholder="Search by muscle group" aria-label="Search">-->
<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--</form>-->

<div class="container-lg">


    <form action="/exercises/searchBy" th:method="GET" class="form-inline my-2 my-lg-0">
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Search by</div>
                <select class="custom-select" id="search_by" name="search_by" required>
                    <option selected disabled>Chose option</option>
                    <option value="muscleGroup">Muscle group</option>
                    <option value="muscle">Muscle</option>
                    <option value="exercise">Exercise title</option>
                </select>
                <input name="inputSearch" id="inputSearch" class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search" required>
            </div>
            <button class="btn btn-outline-success " type="submit">Search</button>
        </div>
    </form>

    <div th:each="criteria :${sortCriteria_ExerciseMap.keySet()}">
        <div th:if="${!sortCriteria_ExerciseMap.get(criteria).isEmpty()}" class="row mt-5 mb-5" style="border-style: solid">

            <h4 th:text="${criteria.toString()}" class="align-middle col-12" style="color: #C0C0C0"></h4>
            <div th:each="exercise:${sortCriteria_ExerciseMap.get(criteria)}" class="col-lg-4 col-md-12">
                <div class="card mb-4 shadow-sm">

                    <div class="card">
                        <img th:src="${'/img/'+exercise.getImage()}" class="card-img-top"
                             th:alt="${exercise.getTitle()}"
                             align="center" style="background: #55595c" height="225">
                        <div class="card-body" style="background: #C0C0C0">
                            <div>
                                <span class="card-text text-dark" th:text="${exercise.getTitle()}"></span>
                                <!--                                <div class="text-right">-->
                                <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('OWN_WEIGHT')}"
                                      class="badge badge-success" style="float:right"
                                      th:text="${exercise.getEquipmentNeed().getWord()} "></span>
                                <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('SPORT_GROUND')}"
                                      class="badge badge-danger" style="float:right"
                                      th:text="${exercise.getEquipmentNeed().getWord()} "></span>
                                <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('DUMBBELLS')}"
                                      class="badge badge-warning" style="float:right"
                                      th:text="${exercise.getEquipmentNeed().getWord()} "></span>
                                <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('BARBELL')}"
                                      class="badge badge-info" style="float:right"
                                      th:text="${exercise.getEquipmentNeed().getWord()} "></span>
                                <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('TRAINING_APPARATUS')}"
                                      class="badge badge-primary" style="float:right"
                                      th:text="${exercise.getEquipmentNeed().getWord()} "></span>
                                <!--                                </div>-->
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group mt-4">
                                    <form th:action="'/exercises/'+${exercise.getId()}">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                    </form>
                                    <form th:method="DELETE" th:action="'/exercises/'+${exercise.getId()}+'/delete'" sec:authorize="hasAuthority('ADMIN')">
                                        <!--                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>-->
                                        <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" th:data-target="'#myModal'+${exercise.getId()}">Delete</button><!-- Modal -->

                                        <div class="modal fade" th:id="'myModal'+${exercise.getId()}" role="dialog">
                                            <div class="modal-dialog ">

                                                <!-- Modal content-->
                                                <div class="modal-content bg-dark" style="border-style: solid ">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-center text-white ">Delete confirm</h4>
                                                        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-white" th:text="'Are you sure you want to delete <<'+${exercise.getTitle()}+'>> ?'">Are you sure you want to delete</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${sortCriteria_ExerciseMap.keySet().size()==1}">
        <div th:each="criteria :${sortCriteria_ExerciseMap.keySet()}">
            <div th:if="${sortCriteria_ExerciseMap.get(criteria).isEmpty()}">
                <h1 th:text="${criteria}"></h1>
                <div class="alert alert-warning" role="alert">
                    Упражнений нет
                </div>
            </div>
        </div>
    </div>
</div>


<!--//add exercise button-->
<div class="container mt-5 mb-5 border border-secondary rounded bg-dark text-white" sec:authorize="hasAuthority('ADMIN')">
    <h5>Добавить упражнение</h5>
    <form method="get" action="/exercises/add">
        <button class="btn btn-secondary mb-1" type="submit">Add exercise</button>
    </form>
</div>

<script th:inline="javascript">
    // function disableInputSearch() {
    //     alert("disssable")
    //     document.getElementById("inputSearch").getE
    // }
    function changeReadOnly() {
        document.getElementById("editButton").hidden = true;
        document.getElementById("newName").readOnly = false;
        document.getElementById("muscleInfo").readOnly = false;
        document.getElementById("imageFile").hidden = false;
        document.getElementById("updateNameButton").hidden = false;
    }

    function goBack() {
        window.history.back();
    }
</script>

<footer th:insert="parts/footer::footer"></footer>
</body>
</html>