<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:insert="common/commonHead::commonHead"></div>
<body>
<header th:insert="parts/header::header"></header>

<div class="container-lg mt-5 bg-dark text-white rounded" >
    <h2 align="center" th:text="${exercise.getTitle()}"></h2>
    <div class="card">
        <img th:src="${'/img/'+exercise.getImage()}"
             th:alt="${exercise.getTitle()}"
             class="text-center" style="background: #55595c" height="600">

        <div th:if="${exercise.getExerciseInfo()!=null}" class="card-body" style="background: #C0C0C0">
            <div class="row">
                <span class="col">
                    <h3 style="color: black">Primary muscles:</h3>
                    <span th:each="muscle:${exercise.getPrimaryWorkingMuscles()}">
                        <a th:href="'/muscles/'+${muscle.getId()}"><p style="color: darkblue" th:text="${muscle.getName()}"/></a>
                    </span>
                </span>

                <span class="col">
                    <h3 style="color: black">Secondary muscles:</h3>
                    <span th:each="muscle:${exercise.getSecondWorkingMuscles()}">
                        <a th:href="'/muscles/'+${muscle.getId()}"><p style="color: darkblue" th:text="${muscle.getName()}"/></a>
                    </span>
                </span>

            </div>
            <div class="mt-3">
                SOME INFO
                <p class="card-text text-dark"
                   th:text="${!exercise.getExerciseInfo().getSomeInfo().isEmpty()} ?
                ${exercise.getExerciseInfo().getSomeInfo()} : 'NONE'">
                </p>
                HOW TO DO:
                <p class="card-text text-dark"
                   th:text="${!exercise.getExerciseInfo().getHowToDo().isEmpty()} ?
                ${exercise.getExerciseInfo().getHowToDo()} : 'NONE'">
                </p>
                <!--            <p class="card-text text-dark" th:text="${exercise.getExerciseInfo().getHowToDo()()}">-->
                <!--            </p>-->
                <p>
                    <a th:href="${exercise.getExerciseInfo().getVideoLink()}">Link</a>
                </p>
            </div>
        </div>

        <div class="btn-group">
            <a class="btn btn-outline-secondary" onclick="goBack()">Назад</a>
            <!--                //TODO add edit-->
            <form th:method="PATCH" th:action="'/exercises/'+${exercise.getId()}+'/edit'" sec:authorize="hasAuthority('ADMIN')">
                <button type="submit" class="btn btn-outline-warning">Edit</button>
            </form>

            <form th:method="DELETE" th:action="'/exercises/'+${exercise.getId()}+'/delete'" sec:authorize="hasAuthority('ADMIN')">
<!--                <button type="submit" class="btn btn-outline-danger">Delete</button>-->
                <button type="button" class="btn btn btn-outline-danger" data-toggle="modal" th:data-target="'#myModal'+${exercise.getId()}">Delete</button><!-- Modal -->

                <div class="modal fade" th:id="'myModal'+${exercise.getId()}" role="dialog">
                    <div class="modal-dialog ">

                        <!-- Modal content-->
                        <div class="modal-content bg-dark" style="border-style: solid ">
                            <div class="modal-header">
                                <h4 class="modal-title text-center text-white " >Delete confirm</h4>
                                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p class="text-white" th:text="'Are you sure you want to delete <<'+${exercise.getTitle()}+'>> ?'">Are you sure you want to delete</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline-danger" >Delete</button>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }

</script>

<footer th:insert="parts/footer::footer"></footer>
</body>
</html>