<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exercises</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<p>Exercises</p>
<div>
    <a href="/freeWeight">Свободные веса</a>
    </br>
    <a href="">Дома</a>
    </br>
    <a href="">Тренировка на улице</a>

</div>
<div th:insert="common/commonFooter.html"></div>
</body>
</html>