<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="common/commonHead::commonHead"></head>

<body>
<header th:insert="parts/header::header"></header>
<div class="container mt-5">
    <p>Fitness App</p>
    <p th:text="'Hello, ' + ${name} + '!'"/>
</div>

<!--<p>Click the buttons to create and delete row(s) for the table.</p>-->
<!--<div class="container">-->
<!--    <table class="table" id="myTable">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>#</th>-->
<!--            <th>Exercise</th>-->
<!--            <th>HowMuch</th>-->
<!--            <th>Technique</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td>Row1 cell1</td>-->
<!--            <td>Row1 cell2</td>-->
<!--            <td><input type="button" value="Delete" onclick="deleteRow(this)"/></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <br>-->

<!--    <button onclick="myCreateFunction()">Create row</button>-->
<!--    <button onclick="myDeleteFunction()">Delete row</button>-->
<!--</div>-->

<!--<script th:inline="javascript" type="text/javascript">-->
<!--    var rowIdx = 0;-->

<!--    function myCreateFunction() {-->
<!--        var table = document.getElementById("myTable");-->
<!--        var row = table.insertRow();-->
<!--        var cell1 = row.insertCell(0);-->
<!--        var cell2 = row.insertCell(1);-->
<!--        var cell3 = row.insertCell(2);-->
<!--        var cell4 = row.insertCell(3);-->
<!--        cell1.innerHTML = ++rowIdx;-->
<!--        cell2.innerHTML = "<input type='text'>";-->
<!--        cell3.innerHTML = "<input type='text'>";-->
<!--        cell4.innerHTML = "<td><input type=\"button\" value=\"Delete\" onclick=\"deleteRow(this)\"/></td>\n";-->
<!--    }-->

<!--    // function deleteRoww(rowId){-->
<!--    //     var table = document.getElementById("myTable");-->
<!--    //     table.deleteRow();-->
<!--    // }-->

<!--    function myDeleteFunction() {-->
<!--        document.getElementById("myTable").deleteRow();-->
<!--    }-->

<!--    function deleteRow(btn) {-->
<!--        rowIdx&#45;&#45;;-->
<!--        var row = btn.parentNode.parentNode;-->
<!--        row.parentNode.removeChild(row);-->
<!--    }-->
<!--</script>-->


<!--<br>-->
<!--<table class="table table-hover">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">#</th>-->
<!--        <th scope="col">First</th>-->
<!--        <th scope="col">Last</th>-->
<!--        <th scope="col">Handle</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <th scope="row">1</th>-->
<!--        <td>Mark</td>-->
<!--        <td>Otto</td>-->
<!--        <td>@mdo</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th scope="row">2</th>-->
<!--        <td>Jacob</td>-->
<!--        <td>Thornton</td>-->
<!--        <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th scope="row">3</th>-->
<!--        <td colspan="2">Larry the Bird</td>-->
<!--        <td>@twitter</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<footer th:insert="parts/footer::footer"></footer>
</body>
</html>