<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="common/commonHead::commonHead"></head>

<body>
<header th:insert="parts/header::header"></header>
<div class="container mt-5">
    <p>Fitness App</p>
    <p th:text="'Hello, ' + ${name} + '!'"/>
</div>

<div id="carousel_1" class="carousel slide">
    <a href="#carousel_1" class="left carousel-control" data-slide="prev"></a>
    <a href="#carousel_1" class="right carousel-control" data-slide="next"></a>
</div>
<div id="carousel_2" class="carousel slide">
    <a href="#carousel_2" class="left carousel-control" data-slide="prev"></a>
    <a href="#carousel_2" class="right carousel-control" data-slide="next"></a>
</div>

<footer th:insert="parts/footer::footer"></footer>
</body>
</html>