<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="common/commonHead::commonHead"></head>

<body>
<header th:insert="parts/header::header"></header>
<div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="container mt-5">
    <p>Fitness App</p>
    <p th:text="'Hello, ' + ${name} + '!'"/>
</div>


<div class="container mt-5">
    <!--    <p>Timer</p>-->
    <a href="/trainings/timer">TIMER</a>
</div>

<footer th:insert="parts/footer::footer"></footer>
</body>
</html>