<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/commonHead::commonHead"></head>
<body>
<header th:insert="parts/header::header"></header>
<p>Muscle Groups</p>

<div class="container">
    <div class="row">


        <div class="col-lg-4 col-md-12">
            <div class="card mb-4 shadow-sm">

                <div class="card">
                    <img th:src="@{../images/muscles/back/backPreview.jpg}" class="card-img-top"
                         alt="All"
                         align="center" style="background: #55595c" height="225">
                    <div class="card-body" style="background: #C0C0C0">
                        <p class="card-text text-dark">All</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <form action="/muscles">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        //-->
        <div th:each="el :${allMusclesGroup}" class="col-lg-4 col-md-12">
            <div class="card mb-4 shadow-sm">

                <div class="card">
                    <img th:src="@{../images/muscles/back/backPreview.jpg}" class="card-img-top"
                         th:alt="${el.getName()}"
                         align="center" style="background: #55595c" height="225">
                    <div class="card-body" style="background: #C0C0C0">
                        <p class="card-text text-dark" th:text="${el.getName()}+'('+${el.getMuscleSet().size()}+')'">
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form th:action="'/muscleGroups/'+${el.getId()}">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                </form>
                                <form method="post" th:action="'/muscleGroups/'+${el.getId()}+'/delete'">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>


<!--//add muscle group-->
<div class="container mt-5 mb-5 border border-secondary rounded bg-dark text-white">
    <h5>Добавить группу мышц</h5>
    <form method="post" action="/muscleGroups/add">
        <div style="display:inline-block">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Название группы мышц</span>
                </div>
                <input type="text" name="muscleGroup" class="form-control"
                       aria-describedby="basic-addon3" placeholder="..." required>

            </div>
            <button type="submit" class="btn btn-secondary mb-1">Add muscle group</button>
        </div>
    </form>
</div>


<footer th:insert="parts/footer::footer"></footer>
</body>
</html>