<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="common/commonHead::commonHead"></div>
<body>
<header th:insert="parts/header::header"></header>


<div class="container mt-5 ">
    <p>This is User List page</p>

    <div class="row">

        <div th:if="${userList}" th:each="user :${userList}" class="col-lg-4 col-md-12">
            <div class="card mb-4 shadow-sm">


                <div class="card">
                    <div class="card-body" style="background: #000000">
                        <form th:method="PATCH" th:action="@{/admin/users/edit}">

                            <input type="hidden" name="userId" th:value="${user.getId()}">
                            <p class="card-text" th:text="${user.getUsername()}+'  |  '+${user.getPassword()}+'  |'"></p>
                            <img th:if="${user.getImage()==null || user.getImage().isEmpty()}" th:src="@{'/img/'+'default_avatar.png'}"
                                 class=" mb-3 mt-1"
                                 th:alt="${user.getUsername()}"
                                 height="150">
                            <img th:unless="${user.getImage()==null || user.getImage().isEmpty()}" th:src="${'/img/'+user.getImage()}"
                                 class="mb-3 mt-1"
                                 th:alt="${user.getUsername()}"
                                 height="150">
                            <div th:if="${user.getStatus()!=null}" class="text-white text-center">
                                <h4 th:style="'background-color:'+${user.getStatus().getColorCode()}"
                                    th:text="'STATUS: '+${user.getStatus().name()} "></h4>
                            </div>
                            <p class="card-text" th:text="'Name: '+${user.getFirstName()}+'   '+${user.getLastName()}"></p>
                            <p class="card-text" th:text="'Email: '+${user.getEmail()}"></p>
                            <div th:each="role :${allRoles}" class="row">
                                <input type="checkbox" th:name="${role}" th:checked="${user.roles.contains(role)}" class="ml-3">
                                <p class="card-text ml-2" th:text="${role.name()}"></p>
                            </div>
                            </br>
                            <p class="card-text" th:text="'Registered  at: '+${user.getRegisteredAt()}"></p>
                            <p class="card-text" th:text="'Birth date: '+${user.getBirthDate()}"></p>
<!--                            <div class="d-flex justify-content-between align-items-center">-->
                                <!--//TODO make buttons work-->
<!--                                                                <button type="submit" class="btn btn-outline-warning mt-2">Submit</button>-->
<!--                                                                <button type="submit" th:method="GET" th:formaction="'/users/'+${user.getUsername()}" class="btn btn-outline-success mt-2">Watch</button>-->
<!--                                                                &lt;!&ndash;                                <p th:text="${user.getStatus()== allStatus.get(0).valueOf('BANNED')}"/>&ndash;&gt;-->
<!--                                                                <button th:if="${user.getStatus()==allStatus.get(0).valueOf('ACTIVE')}" th:formaction="'/admin/users/'+${user.getId()}+'/ban'" type="submit"-->
<!--                                                                        class="btn btn-outline-danger mt-2">Ban-->
<!--                                                                </button>-->
<!--                                                                <button th:if="${user.getStatus()==allStatus.get(0).valueOf('BANNED')}" th:formaction="'/admin/users/'+${user.getId()}+'/unban'" type="submit"-->
<!--                                                                        class="btn btn-outline-danger mt-2">UnBan-->
<!--                                                                </button>-->
<!--                                                                <a  type="button" th:action="'/users/'+${user.getId()}+'/ban'"  class="btn btn-outline-danger mt-2">Delete</a>-->
<!--                                                                <button type="button" class="btn btn-outline-danger mt-2">Delete</button>-->


                                <div class="btn-group d-flex justify-content-between align-items-center">
                                    <form th:action="'/users/'+${user.getUsername()}">
                                        <button type="button" class="btn btn-outline-warning mt-2">Submit</button>
                                    </form>
                                    <form th:action="'/users/'+${user.getUsername()}">
                                        <button type="submit" class="btn btn-outline-success mt-2">View</button>
                                    </form>
                                    <button th:if="${user.getStatus()==allStatus.get(0).valueOf('ACTIVE')}" th:formaction="'/admin/users/'+${user.getId()}+'/ban'" type="submit"
                                            class="btn btn-outline-danger mt-2">Ban
                                    </button>
                                    <button th:if="${user.getStatus()==allStatus.get(0).valueOf('BANNED')}" th:formaction="'/admin/users/'+${user.getId()}+'/unban'" type="submit"
                                            class="btn btn-outline-danger mt-2">UnBan
                                    </button>
                                </div>

<!--                            </div>-->
                        </form>
                        <form th:method="DELETE" th:action="'/admin/users/'+${user.getId()}">
                            <button type="button" class="btn btn-outline-danger mt-2" data-toggle="modal" th:data-target="'#myModal'+${user.getId()}">Delete</button>
                            <div class="modal fade" th:id="'myModal'+${user.getId()}" role="dialog">
                                <div class="modal-dialog ">

                                    <!-- Modal content-->
                                    <div class="modal-content bg-dark" style="border-style: solid ">
                                        <div class="modal-header">
                                            <h4 class="modal-title text-center text-white ">Delete confirm</h4>
                                            <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-white" th:text="'Are you sure you want to delete <<'+${user.getFirstName()}+' '+${user.getLastName()}+'>> ?'">delete confitm</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<footer th:insert="parts/footer::footer"></footer>
</body>
</html>