<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="common/commonHead::commonHead"></head>
<body>
<header th:insert="parts/header::header"></header>
<p>Training Details</p>

<div class="container-lg mt-5 bg-dark text-white rounded">
    <h2>
        <p align="center" th:text="${training.getName()}" class="col"></p>

        <span class="badge col" th:style="'background-color:'+${training.getForWho().getColorCode()} "
              th:text="${training.getForWho().getWord()} "></span>
    </h2>
    <div class="card">
        <img th:src="${'/img/'+training.getImage()}"
             th:alt="${training.getName()}"
             class="text-center" style="background: #55595c" height="600">

        <div class="card-body" style="background: #C0C0C0">
            <div class="row">

                <!--                TODO create beautiful table-->
                <div class="col text-center" style="color: black">Список упражнений
                    <table class="table table-hover table-striped rounded table-dark" id="myTable">
                        <thead class="thead-dark">
                        <tr>
                            <th>№</th>
                            <th>Упражнение</th>
                            <th>Количестро повторений</th>
                            <th>Рекомендуемое максимальное время выполнения(сек)</th>
                            <th>Отдых после подхода (сек)</th>
                            <th>Выполнено</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="trainingElement,iterat:${training.getTrainingElements()}">
                            <td>
                                <div th:text="${iterat.count}"></div>
                            </td>
                            <td>
                                <div th:text="${trainingElement.getExercise().getTitle()}"></div>
                            </td>
                            <td>
                                <div th:text="${trainingElement.getHowMuchToDo()}"></div>
                            </td>
                            <td>
                                <div th:text="${trainingElement.getRecommendedTimeToDo()}"></div>
                            </td>
                            <td>
                                <div th:text="${trainingElement.getTimeToRest()}"></div>
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <!--                ///-->

            </div>
            <div class="mt-3">
                MuscleGroups work:
                <div th:each="muscleGroup:${training.getMuscleGroups()}">
                    <p class="card-text text-dark"
                       th:text="${muscleGroup.getName()}">
                    </p>
                </div>
                SOME Advice
                <p class="card-text text-dark"
                   th:text="${!training.getAdvice().isEmpty()} ?
                ${training.getAdvice()} : 'NONE'">
                </p>
                For:
                <p th:text="${training.getForWho()}"></p>
                Goal:
                <p th:text="${training.getGoal()}"></p>
                Difficulty:
                <p th:text="${training.getDifficulty()}"></p>

                <span class="col">
                    <h3 style="color: black">Exercises in training:</h3>
                    <span th:each="exercise:${exerciseSet}">
                        <a th:href="'/exercises/'+${exercise.getId()}"><p style="color: darkblue" th:text="${exercise.getTitle()}"/></a>
                    </span>
                </span>

                <!--                NEED EQUIPMENT:-->
                <!--                <div class="card-text text-dark text-center">-->
                <!--                    <h2>-->
                <!--                    <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('OWN_WEIGHT')}" class="badge badge-success"-->
                <!--                          th:text="${exercise.getEquipmentNeed().getWord()} "></span>-->
                <!--                        <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('SPORT_GROUND')}" class="badge badge-danger"-->
                <!--                              th:text="${exercise.getEquipmentNeed().getWord()} "></span>-->
                <!--                        <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('DUMBBELLS')}" class="badge badge-warning"-->
                <!--                              th:text="${exercise.getEquipmentNeed().getWord()} "></span>-->
                <!--                        <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('BARBELL')}" class="badge badge-info"-->
                <!--                              th:text="${exercise.getEquipmentNeed().getWord()} "></span>-->
                <!--                        <span th:if="${exercise.getEquipmentNeed()==exercise.getEquipmentNeed().valueOf('TRAINING_APPARATUS')}" class="badge badge-primary"-->
                <!--                              th:text="${exercise.getEquipmentNeed().getWord()} "></span>-->
                <!--                        &lt;!&ndash;                     th:text="${exercise.getEquipmentNeed().getWord()}">&ndash;&gt;-->
                <!--                    </h2>-->
                <!--                </div>-->
            </div>

            <div class="btn-group">
                <a class="btn btn-outline-secondary" onclick="goBack()">Назад</a>
                <!--                //TODO add edit-->
                <form th:method="PATCH" th:action="'/trainings/'+${training.getId()}+'/edit'" sec:authorize="hasAuthority('ADMIN')">
                    <button type="submit" class="btn btn-outline-warning">Edit</button>
                </form>

                <form th:method="DELETE" th:action="'/trainings/'+${training.getId()}+'/delete'" sec:authorize="hasAuthority('ADMIN')">
                    <!--                <button type="submit" class="btn btn-outline-danger">Delete</button>-->
                    <button type="button" class="btn btn btn-outline-danger" data-toggle="modal" th:data-target="'#myModal'+${training.getId()}">Delete</button><!-- Modal -->

                    <div class="modal fade" th:id="'myModal'+${training.getId()}" role="dialog">
                        <div class="modal-dialog ">

                            <!-- Modal content-->
                            <div class="modal-content bg-dark" style="border-style: solid ">
                                <div class="modal-header">
                                    <h4 class="modal-title text-center text-white ">Delete confirm</h4>
                                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-white" th:text="'Are you sure you want to delete <<'+${training.getName()}+'>> ?'">Are you sure you want to delete</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<footer th:insert="parts/footer::footer"></footer>
</body>
</html>