<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="common/commonHead::commonHead"></head>
<body>
<header th:insert="parts/header::header"></header>
<p>Training Details</p>

<div class="container-lg mt-5 bg-dark text-white rounded">
    <h2>
        <p align="center" th:text="${training.getName()}" class="col"></p>

        <span class="badge col" th:style="'background-color:'+${training.getForWho().getColorCode()} "
              th:text="${training.getForWho().getWord()} "></span>
    </h2>
    <div class="card">
<!--        <img th:src="${'/img/'+training.getImage()}"-->
<!--             th:alt="${training.getName()}"-->
<!--             class="text-center" style="background: #55595c" height="600">-->
        <div class="container text-center" style="background: #55595c">
            <img th:src="${'/img/'+training.getImage()}"
                 th:alt="${training.getName()}+'(NO IMAGE)'"
                 class="col mx-auto d-block">
        </div>

        <div class="card-body" style="background: #C0C0C0">
            <div class="row">
                
                <div class="col text-center"><h3 class="text-dark">Список упражнений</h3>
                    <table class="table table-hover table-striped rounded table-dark" id="myTable">
                        <thead class="thead-dark">
                        <tr>
                            <th>№</th>
                            <th>Упражнение</th>
                            <th>Количестро повторений</th>
                            <th>Рекомендуемое максимальное время выполнения(сек)</th>
                            <th>Отдых после подхода (сек)</th>
                            <th>Выполнено</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="trainingElement,iterat:${training.getTrainingElements()}">
                            <td>
                                <div th:text="${iterat.count}"></div>
                            </td>
                            <td>
                                <div th:text="${trainingElement.getExercise().getTitle()}"></div>
                            </td>
                            <td>
                                <div th:text="${trainingElement.getHowMuchToDo()}"></div>
                            </td>
                            <td>
                                <div th:text="${trainingElement.getRecommendedTimeToDo()}"></div>
                            </td>
                            <td>
                                <div th:text="${trainingElement.getTimeToRest()}"></div>
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <!--                ///-->

            </div>
            <div class="h5">
                <div class="col mt-4 text-dark">
                    For:
                    <span class="badge text-white h1" th:style="'background-color:'+${training.getForWho().getColorCode()}"
                          th:text="${training.getForWho()}"></span>
                </div>
                <div class="col mt-4 text-dark">
                    Goal:
                    <span class="badge text-white h1" th:style="'background-color:'+${training.getGoal().getColorCode()}"
                          th:text="${training.getGoal()}"></span>
                </div>
                <div class="col mt-4 text-dark">
                    Difficulty:
                    <span class="badge text-white h1" th:style="'background-color:'+${training.getDifficulty().getColorCode()}"
                          th:text="${training.getDifficulty()}"></span>
                </div>

<!--                <div></div>-->
                <div class="col mt-4 text-dark">
                    <div class="text-dark"> PrimaryMuscleGroups work:</div>
                    <div class="badge text-white h1 mt-2 bg-warning h1" th:each="muscleGroup:${training.getPrimaryMuscleGroups()}">
                        <a class="text-dark mt-1"
                           th:text="${muscleGroup.getName()}" th:href="'/muscleGroups/'+${muscleGroup.getId()}">
                        </a>
                    </div>
                </div>
                <div class="col mt-4 text-dark">
                    <div class="text-dark"> SecondaryMuscleGroups work:</div>
                    <div class="badge text-white h1 mt-2 bg-warning h1" th:each="muscleGroup:${training.getSecondaryMuscleGroups()}">
                        <a class="text-dark mt-1"
                           th:text="${muscleGroup.getName()}" th:href="'/muscleGroups/'+${muscleGroup.getId()}">
                        </a>
                    </div>
                </div>
                <div class="col mt-4 text-dark">
                    SOME Advice
                    <div>
                        <textarea class="h5 form-control"
                                  th:text="${!training.getAdvice().isEmpty()} ?
                          ${training.getAdvice()} : 'NONE'" readonly rows="4"></textarea>
                    </div>
                    </input>
                </div>
                <div class="col mt-4 mb-6 ">
                    <div class="text-dark"> Exercises in training:</div>
                    <div class="badge text-white mt-2 bg-danger h1" th:each="exercise:${exerciseSet}">
                        <a class="text-dark"
                           th:text="${exercise.getTitle()}" th:href="'/exercises/'+${exercise.getId()}">
                        </a>
                    </div>
                </div>

            </div>

            <div class="btn-group mt-4">
                <a class="btn btn-outline-secondary" onclick="goBack()">Назад</a>
                <!--                //TODO add edit-->
                <form th:method="PATCH" th:action="'/trainings/'+${training.getId()}+'/edit'" sec:authorize="hasAuthority('ADMIN')">
                    <button type="submit" class="btn btn-outline-warning">Edit</button>
                </form>

                <form th:method="DELETE" th:action="'/trainings/'+${training.getId()}+'/delete'" sec:authorize="hasAuthority('ADMIN')">
                    <button type="button" class="btn btn btn-outline-danger" data-toggle="modal" th:data-target="'#myModal'+${training.getId()}">Delete</button><!-- Modal -->

                    <div class="modal fade" th:id="'myModal'+${training.getId()}" role="dialog">
                        <div class="modal-dialog ">

                            <!-- Modal content-->
                            <div class="modal-content bg-dark" style="border-style: solid ">
                                <div class="modal-header">
                                    <h4 class="modal-title text-center text-white ">Delete confirm</h4>
                                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-white" th:text="'Are you sure you want to delete <<'+${training.getName()}+'>> ?'">Are you sure you want to delete</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
                <form th:method="GET" th:action="'/trainings/'+${training.getId()}+'/start'" sec:authorize="hasAuthority('ADMIN')">
                    <button disabled type="submit" class="btn btn-outline-success">START</button>
                </form>
                <form class="float-right" th:method="PUT" th:action="'/trainings/'+${training.getId()}+'/done'">
                    <input name="username" th:value="${#authentication.name}" hidden>
                    <button type="submit" class="btn btn-outline-success" data-toggle="modal">DONE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<footer th:insert="parts/footer::footer"></footer>
</body>
</html>