<div th:fragment="header">

    <div class="d-flex flex-column flex-lg-row align-items-center p-3 px-lg-4 mb-3 bg-white border-bottom shadow-sm">

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Main</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/muscleGroups">Muscle Groups <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/exercises" id="navbarDropdownExercises" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Exercises
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownExercises">
                            <a class="dropdown-item" href="/exercises/">All</a>
                            <a class="dropdown-item" href="/exercises/byMuscleGroups">By muscle group</a>
                            <a class="dropdown-item" href="/exercises/byEquipmentNeed">By equipment need</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/exercises/all">all(for debug)</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/trainings" id="navbarDropdownTrainings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trainings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownTrainings">
                            <a class="dropdown-item" href="/trainings/">All</a>
                            <a class="dropdown-item" href="/trainings/byMuscleGroups">By muscle group</a>
                            <!--                            //TODO-->
                            <a class="dropdown-item" href="/trainings/byDifficulty">By difficulty</a>
                            <a class="dropdown-item" href="/trainings/byGrade">By grade</a>
                            <a class="dropdown-item" href="/trainings/byGoal">By goal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/trainings/allDebug">all(for debug)</a>
                        </div>
                    </li>

                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" href="/admin/users">AdminUsersPage</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="/forum" id="navbarDropdownTrainings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Forum
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownTrainings">
                            <a class="dropdown-item"  href="/forum">MyForum</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/forum/all">all(for debug)</a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('USER')">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                </ul>

                <div class="text-center">
                    <span class="text-light mr-1">Hello </span>
                    <span class="text-light mr-3" sec:authorize="!isAuthenticated()"> user</span>
                    <span sec:authorize="isAuthenticated()">
                         <a th:href="'/users/'+${#authentication.name}" class="text-light mr-3" sec:authentication="name"></a>
                    </span>

                </div>
                <form class="form-inline mt-2 mt-md-0" sec:authorize="!isAuthenticated()" th:action="@{/login}">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">LogIn</button>
                </form>
                <form class="form-inline mt-2 mt-md-0" sec:authorize="isAuthenticated()" th:action="@{/logout}"
                      method="post">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">LogOut</button>
                </form>
            </div>
        </nav>
    </div>
</div>